.table {
    font-family: Verdana;
    border: 1px solid;
    text-align: center;
    width: 30%;
}

/*
.button {
    color: white;
    background-color: red;text-align: center;text-decoration: underline;display: inline-block;font-size: 15px;margin: 10px 2px;cursor: pointer;
}
*/

#td1 {
    background-color: green;
    font-weight: bold;
    font-style: italic;
}